<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="colorWhite">Settings</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="setDefaultSetting()">
        <ion-icon name="md-refresh" class="colorWhite"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="fullwidth">
		<br/>
		 <img src="assets/imgs/logo.png" class="settingLogo" />
		<h5 class="centerText colorSec">CrytoExchange&trade;&copy; <span class="colorTet">V1.0</span></h5>
	</div>
	<ion-list>
  <ion-item-group>
    <ion-item-divider color="light" class="colorTet">Profile</ion-item-divider>
    <!-- <ion-item>
        <div class="fullWidth setItem">
			<h6 class="setItemAttr">Username</h6>
			<h4 class="setItemValue">John Framboyam</h4>
		</div>
    </ion-item> -->

    <ion-item>
        <div class="fullWidth setItem">
			<h6 class="setItemAttr">Phone Number</h6>
			<h4 class="setItemValue">+237 {{loginCred.phone}}</h4>
		</div>
		<button ion-button icon-only item-end clear (click)="changeNumber()">
        <ion-icon name="md-create" class="colorTet"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
        <div class="fullWidth setItem">
			<h6 class="setItemAttr">Email</h6>
			<h4 class="setItemValue">{{loginCred.email}}</h4>
		</div>
		<button ion-button icon-only item-end clear (click)="changeEmail()">
        <ion-icon name="md-create" class="colorTet"></ion-icon>
      </button>
    </ion-item>

    <button ion-item class="buyItemClass" (click)="changePassword()">
        <ion-icon name="md-lock" class="colorTet" item-start></ion-icon>
        <ion-label><span class="setItemAttrSingle">Change Password</span></ion-label>
    </button>

    <button ion-item class="buyItemClass" (click)="logout()">
        <ion-icon name="md-log-out" class="colorTet" item-start></ion-icon>
        <ion-label><span class="setItemAttrSingle">Logout</span></ion-label>
    </button>
  </ion-item-group>

<br/>

   <ion-item-group>
    <ion-item-divider color="light" class="colorTet">Preferences</ion-item-divider>
    <ion-item>
        <div class="fullWidth setItem">
			<h6 class="setItemAttr">Bitcoin Unit</h6>
			<h4 class="setItemValue">{{loginCred.unitBTC}}</h4>
		</div>
    </ion-item>
    <ion-item>
        <div class="fullWidth setItem">
			<h6 class="setItemAttr">International Currency</h6>
			<h4 class="setItemValue">{{loginCred.unitInt}}</h4>
		</div>
    </ion-item>
    <ion-item>
        <div class="fullWidth setItem">
			<h6 class="setItemAttr">Local Currency</h6>
			<h4 class="setItemValue">{{loginCred.unitLoc}}</h4>
		</div>
    </ion-item>
    <ion-item>
    	<ion-toggle checked="{{loginCred.emailNoti}}" (ionChange)="changeEmailNoti()"></ion-toggle>
        <ion-label><span class="setItemAttrSingle">Email Notification</span></ion-label>
    </ion-item>

    <ion-item>
    	<ion-toggle checked="{{loginCred.textNoti}}" (ionChange)="changeTextNoti()"></ion-toggle>
        <ion-label><span class="setItemAttrSingle">Text Notification</span></ion-label>
    </ion-item>
  </ion-item-group>


  <br/>

   <ion-item-group>
    <ion-item-divider color="light" class="colorTet">App</ion-item-divider>
    <button ion-item class="buyItemClass" (click)="showAppAlert('About Us', 'About Us')">
        <div class="fullWidth setItem">
			<h6 class="setItemAttr">About Us</h6>
		</div>
    </button>
     <button ion-item class="buyItemClass" (click)="showAppAlert('Terms and Policy', 'About Our Terms and Policy')">
        <div class="fullWidth setItem">
			<h6 class="setItemAttr">Terms and Policy</h6>
		</div>
    </button>
     <button ion-item class="buyItemClass" (click)="showAppAlert('Privacy Policy', 'About Our Privacy Policy')">
        <div class="fullWidth setItem">
			<h6 class="setItemAttr">Privacy Policy</h6>
		</div>
    </button>
  </ion-item-group>


</ion-list>
</ion-content>
