page-settings {

}

.setItem .setItemAttr{

	font-weight: bold;
	color: #666;
}

.setItem .setItemValue{

	font-weight: bold;
	color: #123962;
}

.setItemAttrSingle{

	font-weight: bold !important;
	color: #666 !important;
}

.settingLogo{

	max-width: 130px;
	max-height: 130px;
	margin: 0 auto;
	display: block;
	border: 1px solid #f5f5f5;
	border-radius: 17px;
}