<ion-tabs [selectedIndex]="0">
  <ion-tab [root]="tab1Root" tabTitle="BUY" tabIcon="md-arrow-round-down"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="TRANSACTIONS" tabIcon="md-list-box"></ion-tab>
   <ion-tab [root]="tab3Root" tabTitle="SELL" tabIcon="md-arrow-round-up"></ion-tab>
</ion-tabs>
