<ion-header>
  <ion-navbar>
    <ion-title class="colorWhite">TRANSACTIONS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="alert()">
        <ion-icon name="md-qr-scanner" class="colorWhite"></ion-icon>
      </button>
       <button ion-button icon-only (click)="goToSettings()">
        <ion-icon name="md-settings" class="colorWhite"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-title class="centerText colorWhite">1BTC = $6,546</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>

		<button ion-item class="buyItemClass" (click)="viewTransaction()">
    		<ion-icon name="md-arrow-round-down" class="tIcon" item-start></ion-icon>
      		<h2 class="tAmount"><b>0.0024 BTC</b></h2>
      		<p class="tDate">November 7, 22:14</p>
    		<button ion-button outline item-end class="tButton">Pending</button>
  		</button>

  		<button ion-item class="sellItemClass" (click)="viewTransaction()">
    		<ion-icon name="md-arrow-round-up" class="tIcon" item-start></ion-icon>
      		<h2 class="tAmount"><b>0.0024 BTC</b></h2>
      		<p class="tDate">November 7, 22:14</p>
    		<button ion-button outline item-end class="tButton">Pending</button>
  		</button>

  		<!-- <button ion-item>
    		<ion-icon name="md-arrow-round-down" item-start></ion-icon>
      		<h2>0.0024 BTC</h2>
      		<p>November 7, 22:14</p>
    		<button ion-button outline item-end>Pending</button>
  		</button> -->

	</ion-list>
</ion-content>