<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
	<div class="fullWidth">
		<br/><br/>
		 <img src="assets/imgs/logo.png" class="lsLogo" />
		<h4 class="centerText colorSec">CryptoExchange</h4>
	</div>

	<ion-list>
		<!-- <ion-item-group>
    		<ion-item-divider color="light" class="colorTet">Signup With</ion-item-divider>
    		<button ion-item class="buyItemClass" (click)="viewPrivate()">
        		<ion-icon name="logo-facebook" class="colorSec" item-start></ion-icon>
      			<span class="colorSec">Facebook</span>
    		</button>
    		<button ion-item class="buyItemClass" (click)="viewPrivate()">
        		<ion-icon name="logo-googleplus" class="colorSec" item-start></ion-icon>
      			<span class="colorSec">Google Plus</span>
    		</button>
    		<button ion-item class="buyItemClass" (click)="showSignupForm = !showSignupForm">
        		<ion-icon name="md-at" class="colorSec" item-start></ion-icon>
      			<span class="colorSec">Email</span>
      			<ion-icon name="md-arrow-dropdown" class="colorTet" item-end></ion-icon>
    		</button>
		</ion-item-group> -->

	<ion-item-group class="animated fadeIn">
    <ion-item-divider color="light" class="colorTet">Signup With Email</ion-item-divider>
  	<ion-item>
      <ion-icon name="md-at" class="colorTet" item-start></ion-icon>
      <ion-label color="{{signupData.emailValColor}}">Email</ion-label>
      <ion-input type="email" placeholder="example@email.com" class="rightText" [(ngModel)]="signupData.email" (keyup)="signupData.emailValColor = 'primary'; signupData.signupError = ' '"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="ios-call" class="colorTet" item-start></ion-icon>
      <ion-label color="{{signupData.phoneValcolor}}">Phone</ion-label>
      <ion-input type="number" placeholder="6xx xxx xxx" class="rightText" [(ngModel)]="signupData.phone" (keyup)="signupData.phoneValcolor = 'primary'; signupData.signupError = ' '"></ion-input>
    </ion-item>

  	<ion-item>
      <ion-icon name="md-lock" class="colorTet" item-start></ion-icon>
      <ion-label color="{{signupData.passwordValColor}}">Password</ion-label>
      <ion-input type="password" placeholder="Password" class="rightText" [(ngModel)]="signupData.password" (keyup)="signupData.passwordValColor = 'primary'; signupData.signupError = ' '"></ion-input>
    </ion-item>

  	<ion-item>
      <ion-icon name="md-lock" class="colorTet" item-start></ion-icon>
      <ion-label color="{{signupData.passwordValColor}}">Confirm Password</ion-label>
      <ion-input type="password" placeholder="Confirm Password" class="rightText" [(ngModel)]="signupData.cPassword" (keyup)="signupData.passwordValColor = 'primary'; signupData.signupError = ' '"></ion-input>
    </ion-item>

    <h6 class="centerText colorRed cursorPointer"><span>&nbsp;{{signupData.signupError}}&nbsp;</span></h6>

  	<ion-item>
      <button ion-button round large block (click)="signup()">
        Signup
      </button>
  </ion-item>
 </ion-item-group>

 <ion-item-group>
    <ion-item-divider color="light" class="colorTet">I have an account!</ion-item-divider>
  <ion-item>
      <button ion-button color="secondary" round large block (click)="goToLogin()">
        Login Instead
      </button>
  </ion-item>
 </ion-item-group>

</ion-list>

</ion-content>
