<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
	<div class="fullWidth">
		<br/><br/>
		 <img src="assets/imgs/logo.png" class="lsLogo" />
		<h4 class="centerText colorSec">CryptoExchange</h4>
	</div>

	<ion-list>
		<!-- <ion-item-group>
    		<ion-item-divider color="light" class="colorTet">Login With Social</ion-item-divider>
    		<button ion-item class="buyItemClass" (click)="viewPrivate()">
        		<ion-icon name="logo-facebook" class="colorSec" item-start></ion-icon>
      			<span class="colorSec">Facebook</span>
    		</button>
    		<button ion-item class="buyItemClass" (click)="viewPrivate()">
        		<ion-icon name="logo-googleplus" class="colorSec" item-start></ion-icon>
      			<span class="colorSec">Google Plus</span>
    		</button>
    		<button ion-item class="buyItemClass" (click)="showLoginForm = !showLoginForm">
        		<ion-icon name="md-at" class="colorSec" item-start></ion-icon>
      			<span class="colorSec">Email</span>
      			<ion-icon name="md-arrow-dropdown" class="colorTet" item-end></ion-icon>
    		</button>
		</ion-item-group> -->

	<ion-item-group class="animated fadeIn">
    <ion-item-divider color="light" class="colorTet">Login With Email</ion-item-divider>
  	<ion-item>
      <ion-icon name="md-at" class="colorTet" item-start></ion-icon>
      <ion-label color="{{loginData.emailValColor}}">Email</ion-label>
      <ion-input type="email" placeholder="example@email.com" class="rightText" [(ngModel)]="loginData.email" (keyup)="loginData.emailValColor = 'primary'; loginData.logInError = ' '"></ion-input>
    </ion-item>

  	<ion-item>
      <ion-icon name="md-lock" class="colorTet" item-start></ion-icon>
      <ion-label color="{{loginData.passwordValColor}}">Password</ion-label>
      <ion-input type="password" placeholder="Password" class="rightText" [(ngModel)]="loginData.password" (keyup)="loginData.passwordValColor = 'primary'; loginData.logInError = ' '"></ion-input>
    </ion-item>
    <h6 class="centerText colorRed cursorPointer"><span>&nbsp;{{loginData.logInError}}&nbsp;</span></h6>
  	<h6 class="centerText colorSec cursorHand" (click)="forgotPassDialog()">Forgot Password&nbsp;<ion-icon name="md-help-circle"></ion-icon></h6>

  	<ion-item>
      <button ion-button round large block (click)="login()">
        Login
      </button>
  </ion-item>
 </ion-item-group>

 <ion-item-group>
    <ion-item-divider color="light" class="colorTet">Don't have an account?</ion-item-divider>
  <ion-item>
      <button ion-button color="secondary" round large block (click)="goToSignUp()">
        Signup
      </button>
  </ion-item>
 </ion-item-group>

</ion-list>

</ion-content>
