<ion-header>
  <ion-navbar>
    <ion-title class="colorWhite">BUY BTC</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="md-qr-scanner" class="colorWhite"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToSettings()">
        <ion-icon name="md-settings" class="colorWhite"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-title class="centerText colorWhite">1BTC = $6,546</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="centerText colorSec">Buy from CoinExchange!</h1>
   <p class="smallPadding weight500">
    Buy Bitcoins easily with your <b class="colorSec">MTN Mobile/Orange Money Account</b> and send directly to your bitcoin wallet of your choice.
  </p>
  <br/>
  <ion-list>
  <ion-item-group>
    <ion-item-divider color="light" class="colorTet">Amount</ion-item-divider>
    <ion-item [ngClass]="{'ng-invalid': true}">
        <ion-icon name="md-cash" class="colorTet" item-start></ion-icon>
        <ion-label color="primary">CFA</ion-label>
        <ion-input type="number" placeholder="50,000" [(ngModel)]="buyData.cfa" (keyup)="computeValuesFromCFA($event.target.value)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-usd" class="colorTet" item-start></ion-icon>
      <ion-label color="primary">USD</ion-label>
      <ion-input type="number" placeholder="100.0" [(ngModel)]="buyData.usd" (keyup)="computeValuesFromUSD($event.target.value)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-bitcoin" class="colorTet" item-start></ion-icon>
      <ion-label color="primary">BTC</ion-label>
      <ion-input type="number" placeholder="0.00000000" [(ngModel)]="buyData.btc" (keyup)="computeValuesFromBTC($event.target.value)" required minlength="10"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="md-arrow-round-down" class="colorTet" item-start></ion-icon>
      <ion-label color="primary">FEE</ion-label>
      <ion-input type="number" placeholder="0.00000000" disabled [(ngModel)]="buyData.fee" required minlength="10"></ion-input>
    </ion-item>
  </ion-item-group>

  <br/><br/>

  <ion-item-group>
    <ion-item-divider color="light" class="colorTet">Recipient</ion-item-divider>
    <ion-item>
    <ion-label color="primary" stacked>BTC Address</ion-label>
    <ion-input type="text" placeholder="BTC Address" [(ngModel)]="buyData.address"></ion-input>
  </ion-item>
  </ion-item-group>

  <br/><br/>

  <ion-item-group>
    <ion-item-divider color="light" class="colorTet">Number Info</ion-item-divider>
    <ion-item>
      <ion-label>MoMo Service</ion-label>
      <ion-select [(ngModel)]="buyData.momo" interface="action-sheet">
        <ion-option value="o">Orange Money</ion-option>
        <ion-option value="m">MTN Mobile Money</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-call" item-start class="colorTet"></ion-icon>
      <ion-label color="primary">Tel</ion-label>
      <ion-input type="tel" placeholder="6xx xxx xxx" [(ngModel)]="buyData.tell"></ion-input>
    </ion-item>
  </ion-item-group>

  <br/><br/>

  <ion-item>
      <button ion-button round large block>
        <ion-icon name="md-arrow-round-down">&nbsp;</ion-icon> 
        BUY NOW
      </button>
  </ion-item>


</ion-list>
</ion-content>
