<!--
  Generated template for the TransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="colorWhite">Transaction</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="md-share" class="colorWhite"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToSettings()">
        <ion-icon name="md-settings" class="colorWhite"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="sellContents">
	<div class="centerText">
		<h4 class="tranType">Buy</h4>
		<h1 class="transAmt">0.02479653 BTC</h1>
	</div>

	<ion-grid>
  <ion-row>
    <ion-col col-12>
     <h5 class="centerText">Value at time of transaction </h5>
    </ion-col>
  </ion-row>
  <ion-row class="borderBottom">
    <ion-col col-4>
      <h6>USD :</h6>
    </ion-col>
     <ion-col col-8>
     <h6 class="rightText">$456</h6>
    </ion-col>
  </ion-row>
  <ion-row class="borderBottom">
    <ion-col col-4>
      <h6>CFA :</h6>
    </ion-col>
     <ion-col col-8>
     <h6 class="rightText">225,546 CFA</h6>
    </ion-col>
  </ion-row>
  <ion-row class="borderBottom">
    <ion-col col-4>
      <h6>FEE :</h6>
    </ion-col>
     <ion-col col-8>
     <h6 class="rightText">0.00025 BTC</h6>
    </ion-col>
  </ion-row>
</ion-grid>

<div class="fullWidth tItemDiv">
	<h6 class="att">To BTC</h6>
	<h4 class="value">jajkdhfkjahdfasdfakjdshfkajdfsdfsd</h4>
</div>

<div class="fullWidth tItemDiv">
	<h6 class="att">From Orange Money</h6>
	<h4 class="value">696 564 523</h4>
</div>

<div class="fullWidth tItemDiv">
	<h6 class="att">Date</h6>
	<h4 class="value">November 7, 2017 @ 21:45</h4>
</div>

<div class="fullWidth tItemDiv">
	<h6 class="att">Status</h6>
	<h4 class="value">PENDING</h4>
</div>
<br/>
<br/>

<button ion-button full>
        <ion-icon name="md-arrow-round-up">&nbsp;</ion-icon> 
        Verify Transaction
      </button>
<br/>
<br/>

</ion-content>
