page-transaction {

}

.buyContents .tranType{

	color: #00aee6 !important;
}

.buyContents .transAmt{

	color: #00aee6 !important;
}

.sellContents .tranType{

	color: #ff0046 !important;
}

.sellContents .transAmt{

	color: #ff0046 !important;
}

.tItemDiv{

	border-bottom: 1px solid #e5e5e5;
	padding: 10px;
}

.tItemDiv .att {

	font-size: 15px;
}

.buyContents .tItemDiv .value {

	color: #00aee6 !important;
}

.sellContents .tItemDiv .value {

	color: #ff0046 !important;
}
