<ion-header>
  <ion-navbar>
    <ion-title class="colorWhite">SELL BTC</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToSettings()">
        <ion-icon name="md-settings" class="colorWhite"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-title class="centerText colorWhite">1BTC = $6,546</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="centerText colorSec">Sell to CoinMoMo!</h1>
   <p class="smallPadding weight500">
    Sell Bitcoins easily from your bitcoin wallet and get paid directly to your <b class="colorSec">MTN Mobile/Orange Money Account</b>.
  </p>
  <br/>
  <ion-list>
  <ion-item-group>
    <ion-item-divider color="light">Amount</ion-item-divider>
    <ion-item>
        <ion-icon name="md-cash" class="colorTet" item-start></ion-icon>
        <ion-label color="primary">CFA</ion-label>
        <ion-input type="number" placeholder="0"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-usd" class="colorTet" item-start></ion-icon>
      <ion-label color="primary">USD</ion-label>
      <ion-input type="number" placeholder="0"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-bitcoin" class="colorTet" item-start></ion-icon>
      <ion-label color="primary">BTC</ion-label>
      <ion-input type="number" placeholder="0"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="md-arrow-round-up" class="colorTet" item-start></ion-icon>
      <ion-label color="primary">FEE</ion-label>
      <ion-input type="number" placeholder="0" disabled></ion-input>
    </ion-item>
  </ion-item-group>

  <br/><br/>

  <ion-item-group>
    <ion-item-divider color="light">Number Info</ion-item-divider>
    <ion-item>
      <ion-label>MoMo Service</ion-label>
      <ion-select [(ngModel)]="gender" interface="action-sheet">
        <ion-option value="o">Orange Money</ion-option>
        <ion-option value="m">MTN Mobile Money</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-call" item-start class="colorTet"></ion-icon>
      <ion-label color="primary">Tel</ion-label>
      <ion-input type="tel" placeholder="6xx xxx xxx"></ion-input>
    </ion-item>
  </ion-item-group>

  <br/><br/>

  <ion-item>
      <button ion-button round large block>
        <ion-icon name="md-arrow-round-up">&nbsp;</ion-icon> 
        SELL NOW
      </button>
  </ion-item>


</ion-list>
</ion-content>

